.ContactScreen {
  background-color: $color-background-light;

  .cont {
    padding: 100px 0;

    .wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-radius: 20px;
      overflow: hidden;
      gap: 50px;

      .left {
        display: grid;
        grid-template-columns: 1fr 1.2fr;

        .img {
          background-image: url("/images/contact-box.webp");
          background-size: cover;
        }

        .contacts {
          background-color: $color-primary;
          padding: 130px 0px 130px 80px;
          display: flex;
          flex-direction: column;
          // align-items: center;
          gap: 50px;
          position: relative;
          > div {
            .icon {
              position: absolute;
              background-color: $color-secondary;
              height: 80px;
              width: 80px;
              border-radius: 20px;
              left: calc(-50% + 140px);

              @include flexCenter;

              svg {
                font-size: 40px;
                color: white;
              }
            }
            h4 {
              color: white;
              margin-bottom: 10px;
            }

            p {
              color: white;
              font-size: 20px;

              &.address {
                font-size: 14px;
              }
            }
          }
        }
      }

      .right {
        form {
          // background-color: red;
          padding-right: 40px;
          .row {
            display: flex;
            margin-bottom: 20px;
            gap: 20px;
            width: 100%;
          }
        }
      }
    }
  }

  @include respond-below(md) {
    .cont {
      .wrap {
        grid-template-columns: 1fr;

        .left {
          grid-template-columns: 1fr;

          .img {
            height: 400px;
            background-position: bottom;
          }

          .contacts {
            padding: 50px;
            > div {
              display: flex;
              gap: 20px;
              .icon {
                position: unset;
                transform: none;
              }
            }
          }
        }

        .right {
          form {
            padding: 0;
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.CustomInput {
  width: 100%;

  label {
    display: block;
    font-weight: 600;
    color: $color-text;
  }

  input,
  textarea,
  select {
    border-radius: 6px;
    border: 1px solid #d4e5d2;
    background-color: #fff;
    line-height: 53px;
    color: #5c6972;
    padding-inline: 22px 15px;
    padding-block: 0;
    width: 100%;
    margin-top: 4px;
  }

  select {
    padding: 15px 15px;
  }
}
