.MenuButton {
  border: 0 !important ;
  background: transparent !important ;
  cursor: pointer !important ;

  @include respond-above(md) {
    display: none !important ;
  }
}

.offcanvas {
  background-color: $color-secondary-dark !important ;
  color: $color-white !important ;
  z-index: 100000 !important ;
}

.menu {
  display: flex !important ;
  flex-direction: column !important ;
  gap: 10px !important ;
}

.menu a {
  padding: 10px 0 !important ;

  border-bottom: 1px solid rgba($color-white, 0.15) !important ;

  color: $color-white !important ;

  font-size: 18px !important ;
  font-weight: 600 !important ;
  text-decoration: none !important ;
}

.menu a:hover {
  color: $color-primary !important ;
}

@media (max-width: 576px) {
  .offcanvas {
    // width: 100% !important!important ;
  }
}
