.SustainabilityScreen {
  .wrap {
    padding: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  @include respond-below(md) {
    .wrap {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
