.ProjectsSection {
  padding: 100px 0 150px 0;
  background-color: $color-background-light;

  .projectCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;

    gap: 20px;
    // padding: 0 24px;

    @include respond-below(md) {
      grid-template-columns: 1fr;
    }
  }
}

.ProjectCard {
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 43.505px 72.509px rgba(104, 104, 104, 7%);
  cursor: pointer;

  * {
    transition: 0.2s ease-in-out;
  }
  .imgWrap {
    // height: 350px;
    overflow: hidden;
    border-radius: 0 0 0 100px;

    .img {
      background-color: white;
      width: 100%;
      aspect-ratio: 1 / 1;
      background-size: contain;
      transform-origin: top;
      // border-radius: 50%;
    }
  }

  .txt {
    padding: 30px 25px;
    position: relative;

    h3 {
      color: $color-primary;
    }
    p {
      color: $color-secondary;
    }

    .cta {
      position: absolute;
      bottom: 60%;
      right: 24px;

      .button {
        height: 70px;
        width: 70px;
        background-color: $color-primary;
        border-radius: 50%;
        border: 5px solid white;
        cursor: pointer;
        @include flexCenter;

        .social {
          flex-direction: column;
          gap: 20px;
          justify-content: center;
          align-items: center;
          display: none;

          transform: scaleY(0);

          svg {
            font-size: 20px;

            // &:hover {
            //   display: none;
            //   color: $color-secondary;
            // }
          }
        }

        svg {
          // font-weight: 500;
          // font-size: 24px;
          path {
            color: white;
          }
        }
      }
    }
  }

  &:hover {
    .imgWrap {
      .img {
        transform: scale(1.05) rotate(1deg);
      }
    }

    .txt {
      .cta {
        .button {
          height: 150px;
          border-radius: 100px;

          > svg {
            display: none;
          }

          .social {
            display: flex !important;
            transform: scaleY(1);
          }
        }
      }
    }
  }
}
