.MisionVisionSection {
  .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  @include respond-below(md) {
    .wrap {
      gap: 20px;
      grid-template-columns: 1fr;
    }
  }
}
