.ChooseSection {
  background-image: url("/banner.jpg");
  position: relative;
  padding: 50px 0 350px 0;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: linear-gradient(
      to right,
      rgba($color-background-dark, 1),
      rgba($color-secondary, 0.7)
    );
  }

  .cont {
    position: relative;
    z-index: 100;
  }

  .cards {
    padding: 50px;
    position: absolute;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .cardsSm {
    padding: 50px;
    position: absolute;
    z-index: 100;
    display: none;
  }

  @include respond-below(md) {
    .cards {
      display: none;
    }

    .cardsSm {
      display: block;
    }
  }
}

.card {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  .txt {
    padding: 40px;

    position: relative;
    z-index: 100;

    h3 {
      padding-bottom: 20px;
      border-bottom: 1px solid $color-border;
      min-height: 170px;
    }

    p {
      padding-top: 20px;
      min-height: 135px;
    }
  }

  .imgBox {
    height: 180px;
    position: relative;
    overflow: hidden;

    .img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;

      background-size: cover;
      background-position: bottom;
      z-index: -1;
    }

    @include flexCenter;
  }

  .icon {
    height: 90px;
    width: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color-primary;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 140px;
    right: 20px;
    img {
      width: 100%;
      height: auto;
    }
    z-index: 100;
  }
  &:hover {
    .imgBox {
      .img {
        animation: rotateBackground 0.3s forwards;
      }
    }
  }
}

@keyframes rotateBackground {
  from {
    transform: rotate(0deg) scale(1);
  }

  to {
    transform: rotate(3deg) scale(1.05);
  }
}
