.WorkProcessSection {
  padding: 100px 0 0 0;
  background-image: url("/images/services-bg.png");

  .wrap {
    display: grid;
    grid-template-columns: 1.5fr 1fr;

    .left {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      justify-content: center;

      .card {
        h4 {
          color: $color-secondary;
          padding-bottom: 10px;
          border-bottom: 1px solid $color-primary-light;
          margin-bottom: 10px;
        }

        p {
          color: white;
        }
      }
    }

    .right {
      display: flex;
      justify-content: center;
      img {
        height: 500px;
      }
    }
  }

  @include respond-below(md) {
    .wrap {
      grid-template-columns: 1fr;

      .left {
        grid-template-columns: 1fr;
        padding-bottom: 50px;
      }
    }
  }
}
